# dependencies
node_modules/

# builds
dist/
build/
*.tsbuildinfo

# environment
.env
.env.*
!.env.example

# mobile
.dart_tool/
.pub/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
android/.gradle/

# macOS / OS
.DS_Store

# test coverage
coverage/

# logs
*.log
npm-debug.log*